#fotoslider{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
}

img{
    max-width: 100%;
    height: auto;
}

#viewport {
    position: relative;
    height: 300px;
    overflow: hidden;
    width: 400px;

}

.foto{
    width: 400px;
    height: 300px;
}